url('https://fonts.googleapis.com/css?family=Faster+One|EB+Garamond');


body {
  background-color: black;
  padding: 0;
  margin: 0 auto;
  width: 960px;
  padding: 50px;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;

}

.title {
  padding:0;
  margin-top: -1010px;
  position: relative;
  color: white;
  text-align: center;
  font-family: "Faster One";
  font-size: 60px;
  grid-row: 1;
  grid-column: 1 / span 2;
  border: solid;
  background-color: black;
}

span {
  color: white;
}

span:hover {
  color: red;
}

p {
  font-family: "EB Garamond";
  position: relative;

}

.heading {
  font-family: "Impact";
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 2;
  position: relative;
  padding: 0px;
  color: white;
}

.lakers {
  grid-row: 1;
  position: relative;
  color: white;
  max-width: 100%;
}

.lakers.pic, .celtics.bio {
  grid-row: 2;
  grid-column: 2 / span 1;
  float: right;
  position: relative;
  color: white;
  max-width: 100%;
  min-width: auto;
}

.rivals.lakers.pic, .rivals.celtics.pic {
  height: 300px;
  width: 400px;
  position: relative;
}
.celtics.pic {
  position: relative;
}

.rivals.lakers.header:hover {
  color: purple;
}

.rivals.celtics.header:hover {
  color: green;
}
.favplayers {
  border-style: solid;
  margin-left: 50px;
  margin-top: -75px;
  width: 500px;
  height: 300px;
  border-color: purple;
  background-color: orange;
  font-size: 30px;
  opacity: 0.7;
 }
.favplayers:hover {
  opacity: 1;
}

.celplayers {
 margin-left: 600px;
 margin-top: -330px;
 border-style: solid;
 width: 500px;
 height: 300px;
 border-color: white;
 background-color: green;
 font-size: 30px;
  opacity: 0.7;

}
.celplayers:hover{
  opacity: 1;
}
.favmoments{
  color: black;
  margin-top: 60px;
  margin-left: 425px;
  width: 300px;
  border: solid;


}
.favorites {
  position: absolute;
  border-style: solid;
  margin-top: 300px;
  background-repeat: no-repeat;;
  width: auto;
  height: 700px;
  background-image: url("http://media.liveauctiongroup.net/i/7982/9490760_1.jpg?v=8CCCA6572EFE7B0"), url("http://media.liveauctiongroup.net/i/5798/8674661_1.jpg?v=8CC51A3D5E76C70");
  background-size: 590px 700px, 580px 700px;
  background-position: left, right;

}
#favs {
  text-align: center;
  color: white;
  font-family: impact;
  font-size: 150px;

}
#muteYouTubeVideoPlayer {
  max-width: 100%;
  max-height: 100%;
}
.celtics {
  position: relative;
  color: white;
}
