

body {
  padding: 0;
  margin: 0 auto;
  width: 960px;
  padding: 50px;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;

}

.title {
  padding:0;
  margin: 0;
  color: black;
  text-align: center;
  font-family: "Faster One";
  font-size: 60px;
  grid-row: 1;
  grid-column: 1 / span 2;
}

span {
  color: white;
}

span:hover {
  color: black;
}

p {
  font-family: "EB Garamond";
}

.heading {
  font-family: "Impact";
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.lakers {
  grid-row: 1;
}

.lakers.pic, .celtics.bio {
  grid-row: 2;
  grid-column: 2 / span 1;
  float: right;
}

.rivals.lakers.pic, .rivals.celtics.pic {
  height: 300px;
  width: 400px;
}

.rivals.lakers.header:hover {
  color: purple;
}

.rivals.celtics.header:hover {
  color: green;
}
.favplayers {
  border-style: solid;
  margin-top: 300px;
  margin-left: 500px;
  margin-top: -30px;
  width: 500px;
  height: 300px;
  border-color: purple;
  background-color: orange;
  font-size: 30px;
 }

.celplayers {
 margin-left: 1000px;
 margin-top: -1020px;
 border-style: solid;
 width: 500px;
 height: 300px;
 border-color: white;
 background-color: green;
 font-size: 30px;

}
.favmoments{
  color: white;
  margin-top: 60px;
  margin-left: 800px;

}
.favorites {
  border-style: solid;
  margin-top: 300px;
  background-repeat: no-repeat;
  width: auto;
  height: 700px;
  background-image: url("http://media.liveauctiongroup.net/i/7982/9490760_1.jpg?v=8CCCA6572EFE7B0"), url("http://media.liveauctiongroup.net/i/5798/8674661_1.jpg?v=8CC51A3D5E76C70");
  background-size: 700px 700px;

}
#favs {
  text-align: center;
  color: black;
  font-family: impact;
  font-size: 150px;

}
